[submodule "third_party/boringssl"]
	path = third_party/boringssl
	url = https://github.com/google/boringssl.git
[submodule "third_party/x448"]
	path = third_party/x448
	url = https://github.com/hydra-acn/x448
